
{{ form_start(form) }}

<div class='evidence'> {{ form_row(form.match) }} </div>
<div>
        <div class='saisie_match'>
                <div id='coach1' class='evidence'></div>
                {{ form_row(form.score_coach1) }}
                {{ form_row(form.sorties_coach1)}}
        </div>
        <div class='saisie_match'>
                <div id='coach2' class='evidence'></div>
                {{ form_row(form.score_coach2) }}
                {{ form_row(form.sorties_coach2)}}
        </div>
</div>
<div> {{ form_row(form.validate) }} </div>

{{ form_end(form) }}

